body {
	margin:0px;
	background-color:#E9F531;
}

header {
	border: 1px solid black;
	position: relative;
	margin-bottom: 50px;
	background-color: #0b20b7;
	color: #feffd5;
}

header:after {
	content: "";
	clear: both;
	display: block;
}

header a, footer a {
	text-decoration: none;
}

#titre {
	padding: 30px 0px 0px 30px; 
	width: 630px;
	text-align: center;
	clear:both;
}

#titre h1 {
	margin: 0px;
	font-size: 80px;
}

#titre h2 {
	margin-top: 20px;
	font-size: 46px;
}

#logo {
	float: right;
	position: absolute;
	right: 1px;
	top: 1px;
}

#logo img {
	width: 270px;
	height: 270px;
}

nav {
	font-size: 36px;
}

#menu {
	margin-top: 30px;
}

#menu:hover {
	margin-top: 0px;
	margin-bottom: 0px;
}

#menu h3 {
	margin: auto;
	text-align: center;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: red;
	margin-top: 15px;
	height: 0;
	transform: scaleY(0);
	transition: transform 0.7s;
}

#menu:hover ul {
	height: auto;
	transform: scaleY(1);
}

#menu ul li {
	display: none;
	width: 100%;
	text-align: center;
}

#menu:hover li {
	display: block;
}

#menu ul li a {
	padding: 10px 0px;
	border: 1px solid black;
	display: block;
}

#search {
	margin-top: 30px;
}

#menu:hover ~ #search {
	margin-top: 15px;
}

#search:after {
	content: "";
	clear: both;
	display: block;
}

#searchBar {
	width: 88%;
	line-height: 50px;
	font-size: 28px;
	margin: 10px;
	border-width: 2px;
	padding-left: 5px;
}

#searchButton {
	margin: 10px;
	margin-right: 15px;
	width: 6%;
	float: right;
	
}


section {
	margin-left:20px;
	margin-right:20px;
	margin-bottom:50px;
	background-color:#4EADD8;
	padding-left:3px;
	padding-rifht:3px;
	border-top:3px solid black;
}

section h2 {
	text-align:center;
}

section article {
	margin-top:50px;
	border-bottom:3px solid black;
}

section article:after {
	content: "";
	clear: both;
	display: block;
}

.blackFriday img{
	float:left;
	width:230px;
}
.blackFriday h3, .blackFriday h4, .blackFriday p{
	text-align:center;
}

.playmo img{
	float:right;
	width:390px;
	height:400px;
}

.playmo h3, .playmo h4, .playmo p{
	text-align:center;
}

.rhino img{
	float:right;
	margin-right:240px;
}

.rhino h3{
	text-align:center;
	margin-bottom:50px;
	line-height:120px;
}

.noel img{
	margin-left:345px;
}

.noel h3, .noel h4, .noel p{
	text-align:center;
}

footer {
	border: 1px solid black;
	margin-bottom: 1px;	
	background-color: #0b20b7;
}

footer, footer a {
	color: #feffd5;
}

footer h3 {
	margin-top: 0px;
	font-size: 40px;
	font-weight: normal;
}

#contact {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;	
	text-align: center;
}

#contact ul {
	list-style: none;
	padding: 0px;
}

#contact li {
	margin-bottom: 10px;
}

#contact .imgRéseau {
	width: 40px;
	margin-right: 10px;
	margin-left: 5px;
	vertical-align: middle;
}

#footerMail {
	font-size: 32px;
}


