* {
	font-family: Arial, Verdana, sans-serif; 
}

body {
	margin: 0px;
	background-color: #ffd150;
}

header a, footer a {
	text-decoration: none;
}
header, footer {
	background-color: #5243c2;
	
}

header, footer, article, footer a{
	color: #feffd5;	
}

/*------------------------------------------------------------*/

header {
	position: relative;
	margin-bottom: 50px;
}

header:after {
	content: "";
	clear: both;
	display: block;
}

#titre {
	padding: 30px 0px 0px 30px; 
	width: 630px;
	text-align: center;
	clear: both;
	transform: rotate(-5deg);
}

#titre h1 {
	margin: 0px;
	font-size: 80px;
}

#titre h2 {
	margin-top: 20px;
	font-size: 46px;
}

#logo {
	float: right;
	position: absolute;
	right: 1px;
	top: 1px;
}

#logo img {
	width: 270px;
	height: 270px;
}

nav {
	font-size: 36px;
}

#menu {
	margin-top: 30px;
}

#menu:hover {
	margin-top: 0px;
	margin-bottom: 0px;
}

#menuTitre {
	margin: auto;
	text-align: center;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: red;
	margin-top: 15px;
	height: 0;
	transform: scaleY(0);
	transition: transform 0.7s;
}

#menu:hover ul {
	height: auto;
	transform: scaleY(1);
}

#menu ul li {
	display: none;
	width: 100%;
	text-align: center;
}

#menu:hover li {
	display: block;
}

#menu ul li a {
	padding: 10px 0px;
	border: 1px solid black;
	display: block;
}

#search {
	margin-top: 30px;
}

#menu:hover ~ #search {
	margin-top: 15px;
}

#search:after {
	content: "";
	clear: both;
	display: block;
}

#searchBar {
	width: 88%;
	line-height: 50px;
	font-size: 28px;
	margin: 10px;
	border-width: 2px;
	padding-left: 5px;
}

#searchButton {
	margin: 10px;
	margin-right: 15px;
	width: 6%;
	float: right;
	
}

/*-----------------------------------------------*/

section {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
}

section h2 {
	text-align: center;
	font-size: 32px;
}

section h3 {
	font-size: 28px;
}

section h4 {
	font-size: 16px;
}

section p {
	font-size: 14px;
}

section article {
	margin-top: 50px;
	border: 3px solid black;
	border-radius: 30px;
	background-color: #016df7;
	padding: 20px;
}

section .lienDetail {
	margin-top: 20px;
	margin-right: 50px;
	font-size: 12px;
	text-align: right;
}

section a, section a:visited {
	color: #fe612e;
	text-decoration: none;
}

section img {
	margin-left: 8px;
	margin-right: 8px;
}

/*-------*/

.blackFriday img {
	float: left;
	width: 230px;
}
.blackFriday h3, .blackFriday h4 {
	text-align: center;
}

/*-------*/

.playmo img {
	float: right;
	width: 390px;
	margin-bottom: 20px;
}

.playmo h3, .playmo h4 {
	text-align: center;
}

/*-------*/

.rhino img {
	float: right;
	margin-right: 130px;
}

.rhino h3 {
	text-align: center;
	margin-bottom: 50px;
	line-height: 120px;
}

/*-------*/

.noel img {
	margin-left: 345px;
}

.noel h3, .noel h4 {
	text-align: center;
}

/*-------------------------------------------------------*/

footer {
	border: 1px solid black;
}

footer, footer a {
}

footer h3 {
	margin-top: 0px;
	font-size: 40px;
	font-weight: normal;
}

#contact {
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 18px;	
	text-align: center;
}

#contact ul {
	list-style: none;
	padding: 0px;
}

#contact li {
	margin-bottom: 10px;
}

#contact .imgRéseau {
	width: 40px;
	margin-right: 10px;
	margin-left: 5px;
	vertical-align: middle;
}

#footerMail {
	font-size: 32px;
}


